@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons.css';

/** VARIABLES */ 
$primary: #ffbd59;

/** TAGS */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

/** CLASSES */
.bi-star-fill,
.bi-star-half {
  color: #ffbd59;
}

.btn {
  color: #ffffff !important;
}

.btn-primary {
  color: #ffffff !important;
}

.btn-link {
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.card {
  border-radius: 5% !important;
  border-color: transparent !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  flex-grow: 1;
}

.card-img-top,
.card-body {
  border-radius: 5% !important;
}

.card-title,
.card-text,
.card-btn {
  font-family: 'Montserrat';
  letter-spacing: 2px;
}

$card-cap-bg: #ffffff; // Override card header background to white

@import '~bootstrap/scss/bootstrap.scss';
